.main-header {

}



body {
    background-color: #508AA8;
}

.main-body {
    background-color: white;
}

h3 {

}

#mail {
    font-size: 34px;
    text-align: center;
}


#portrait {
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    border-style: solid;
    border-color: #031927;
}

.card-body {
    background-color: #C8E0F4;
}

#details {
    background-color: white;
}

#resume {
    text-align: center;
}

.img-container {
    text-align: center;
}

.nav-link {
    color: #031927;
    font-size: 20px;
    font-weight: bold;
}

nav {
    float: right;
}

a {
    color: #9DD1F1;
}

.contact-title {
    margin-top: 100px;
    color: #031927;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.container-contact {
    margin: 0;
    padding: 0;
    text-align: center;
}

.contact-title h1 {
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2 {
    font-size: 16px;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #031927;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: #C8E0F4;
    border-color: transparent;
    color: #031927;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

