.main-header {

}

h1 {
    text-align:center
}

body {
    background-color: #BA1200;
}

.main-body {
    background-color: #031927;
}

h3 {

}

#mail {
    font-size: 30px;
}

i {
    text-align:center
}

 p {
     text-align:center
 }