.main-header {

}

h1 {
    text-align:center;
}

body {
    background-color: #9DD1F1;
}

.main-body {
    background-color: white;
}

h3 {

}

#mail {
    font-size: 30px;
    text-align: center;
}

i {
    text-align:center;
}

p {
     text-align:center;
}

#portrait {
    border-radius: 50%;
    text-align: center;
}

.card-body {
    background-color: #508AA8;
}